:root {
  --colorTextos: #49454567;
}


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

input{
  border-bottom: 1px solid var(--colorTextos);
}


label{
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 15px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}


