<div class="main_login">
  <div class="principal">
    <div>
      <form action="" id="form">
        <div class="form">
          <input type="button" value="Login" class="btn-login">
          <input type="button" value="SignUp" class="btn-login">
        </div>
        <div class="grupo">
          <input type="email" id="name" required><span class="barra"></span>
          <label for="">Email</label>
        </div>

        <div class="grupo">
          <input type="password" id="name" required><span class="barra"></span>
          <label for="">Password</label>
        </div>

        <button type="submit">REGISTER</button>
        <img src="" alt="">
      </form>
    </div>
  </div>
</div>
